@tailwind base;
@tailwind components;
@tailwind utilities;

/* creating a shortcut for align and justify items on center */
@layer utilities {
  .flex-center{
    @apply flex justify-center items-center
  }
}

@layer base {
  body {
    font-family: 'Nunito Sans Variable', sans-serif;
  }
}